
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  background-color:#00005A;
  color:  #C80140;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;


}
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
/* styles for header */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #8B000B;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 9999;
  margin: 0;
  color: #ECECEE;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(182, 169, 169, 0.282);
}
header a:hover{
  border-radius: 5px;
  font-size:50px;
  transition: all 500ms;
  font-size-adjust: 20px;
}
header nav ul li a:hover {
  border-radius: 5px;
  color:var(--light-color);
  font-size:30px;
  transition: all 500ms;
  font-size-adjust: 20px;
}
header h1{
  font-weight: bold;
  font-size: 38px;
  color:var(--light-color);
  margin-left: 25px;
  
}
header a {
  text-decoration: none;
  color:var(--light-color);
}
header nav {
  margin: 7px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* header and nav bar styles end */
h1{
  font-weight: bold;
  font-size: 40px;
}

h2{
  font-weight: bold;
  font-size: 35px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #C80140;
  color: #ececee;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #C80140;
  opacity: .5;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #ececee;
  padding: 20px;
}

embed:focus {
  outline: none;
}
.bio-image {
    width: 30%;
    margin-left: 30%;
    }

    /* footer styling */
footer {
      display: flex;
      flex-wrap: wrap;
      justify-content:space-evenly;
      padding: 15px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      clear: both;
      background-color: #ececee;
    }